{
    "install_id": "{{ install_signature.install_id }}",
    "install_type": "{% 'ansible_single_step' if datadog_apm_instrumentation_enabled | length > 0 else 'ansible_manual' %}",
    "install_time": "{{ install_signature.install_time }}"
}